.page {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block__text{
  margin: 100px;
}

.button {
  background: transparent;
  border: none;
}

svg {
  width: 50px;
}
